{% extends "app/base.html" %}
{% load static %}
{% block body %}
 <!--================Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h3>We Ensure better education <br />for a better world</h3>
						<p>In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of the space telescope known as the Hubble.</p>
						<a class="main_btn" href="#">Get Started</a>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        <!--================Finance Area =================-->
        <section class="finance_area">
        	<div class="container">
        		<div class="finance_inner row">
        			<div class="col-lg-3 col-sm-6">
        				<div class="finance_item">
        					<div class="media">
        						<div class="d-flex">
        							<i class="lnr lnr-rocket"></i>
        						</div>
        						<div class="media-body">
        							<h5>Science & <br />Engineering</h5>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="finance_item">
        					<div class="media">
        						<div class="d-flex">
        							<i class="lnr lnr-earth"></i>
        						</div>
        						<div class="media-body">
        							<h5>Science & <br />Engineering</h5>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="finance_item">
        					<div class="media">
        						<div class="d-flex">
        							<i class="lnr lnr-smile"></i>
        						</div>
        						<div class="media-body">
        							<h5>Science & <br />Engineering</h5>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="finance_item">
        					<div class="media">
        						<div class="d-flex">
        							<i class="lnr lnr-tag"></i>
        						</div>
        						<div class="media-body">
        							<h5>Science & <br />Engineering</h5>
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Finance Area =================-->

          <!--================Courses Area =================-->
        <section class="courses_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Popular Free Courses</h2>
        			<p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station.</p>
        		</div>

        		<div class="row courses_inner">

        			<div class="col-lg-9">

						<div class="grid_inner">
                            {% for c in course %}
							<div class="grid_item wd55">

								<div class="courses_item">
									<img src="{{c.image.url}}" alt="">
									<div class="hover_text">
										<a class="cat" href="#">Apply</a>
										<a href="#"><h4>{{c.title}}</h4></a>
										<ul class="list">
											<li><a href="#"><i class="lnr lnr-users"></i> 355</a></li>
											<li><a href="#"><i class="lnr lnr-bubble"></i> 35</a></li>
											<li><a href="#"><i class="lnr lnr-user"></i> T. Robert</a></li>
										</ul>
									</div>
								</div>

							</div>
							{% endfor %}

                            <!--{% for c in courses|slice:"1:3:3" %}-->
							<!--<div class="grid_item wd44">-->


								<!--<div class="courses_item">-->
									<!--<img src="{{c.image.url}}" alt="">-->
									<!--<div class="hover_text">-->
										<!--<a class="cat" href="#">Apply</a>-->
										<!--<a href="#"><h4>{{c.title}}</h4></a>-->
										<!--<ul class="list">-->
											<!--<li><a href="#"><i class="lnr lnr-users"></i> 355</a></li>-->
											<!--<li><a href="#"><i class="lnr lnr-bubble"></i> 35</a></li>-->
											<!--<li><a href="#"><i class="lnr lnr-user"></i> T. Robert</a></li>-->
										<!--</ul>-->
									<!--</div>-->
								<!--</div>-->

							<!--</div>-->
							<!--{% endfor %}-->



							<!--<div class="grid_item wd44">-->
								<!--<div class="courses_item">-->
									<!--<img src="{% static 'img/courses/course-4.jpg' %}" alt="">-->
									<!--<div class="hover_text">-->
										<!--<a class="cat" href="#">Free</a>-->
										<!--<a href="#"><h4>Japanease Language Class</h4></a>-->
										<!--<ul class="list">-->
											<!--<li><a href="#"><i class="lnr lnr-users"></i> 355</a></li>-->
											<!--<li><a href="#"><i class="lnr lnr-bubble"></i> 35</a></li>-->
											<!--<li><a href="#"><i class="lnr lnr-user"></i> T. Robert</a></li>-->
										<!--</ul>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="grid_item wd55">-->
								<!--<div class="courses_item">-->
									<!--<img src="{% static 'img/courses/course-5.jpg' %}" alt="">-->
									<!--<div class="hover_text">-->
										<!--<a class="cat" href="#">Free</a>-->
										<!--<a href="#"><h4>Japanease Language Class</h4></a>-->
										<!--<ul class="list">-->
											<!--<li><a href="#"><i class="lnr lnr-users"></i> 355</a></li>-->
											<!--<li><a href="#"><i class="lnr lnr-bubble"></i> 35</a></li>-->
											<!--<li><a href="#"><i class="lnr lnr-user"></i> T. Robert</a></li>-->
										<!--</ul>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->
						</div>
        			</div>

					<!--{% for c in course|slice:"2::2" %}-->
        			<!--<div class="col-lg-3">-->

        				<!--<div class="course_item">-->
							<!--<img src="{{c.image.url}}" alt="">-->
							<!--<div class="hover_text">-->
								<!--<a class="cat" href="#">Apply</a>-->
								<!--<a href="#"><h4>{{c.title}}</h4></a>-->
								<!--<ul class="list">-->
									<!--<li><a href="#"><i class="lnr lnr-users"></i> 355</a></li>-->
									<!--<li><a href="#"><i class="lnr lnr-bubble"></i> 35</a></li>-->
									<!--<li><a href="#"><i class="lnr lnr-user"></i> T. Robert</a></li>-->
								<!--</ul>-->
							<!--</div>-->
						<!--</div>-->

        			<!--</div>-->
                    <!--{% endfor %}-->
        		</div>

        	</div>
        </section>
        <!--================End Courses Area =================-->


        <!--================Team Area =================-->
        <section class="team_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Meet Our Faculty</h2>
        			<p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station.</p>
        		</div>
        		<div class="row team_inner">
					{% for t in team %}
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">

        					<div class="team_img">
        						<img class="rounded-circle" src="{{t.image.url}}" alt="">
        						<div class="hover">
        							<a href="#"><i class="fa fa-facebook"></i></a>
        							<a href="#"><i class="fa fa-twitter"></i></a>
        							<a href="#"><i class="fa fa-linkedin"></i></a>
        						</div>
        					</div>
        					<div class="team_name">
        						<h4>{{t.name}}</h4>
        						<p>{{t.position}}</p>
        					</div>

        				</div>
        			</div>
					{% endfor %}
        			<!--<div class="col-lg-3 col-sm-6">-->
        				<!--<div class="team_item">-->
        					<!--<div class="team_img">-->
        						<!--<img class="rounded-circle" src="img/team/team-2.jpg" alt="">-->
        						<!--<div class="hover">-->
        							<!--<a href="#"><i class="fa fa-facebook"></i></a>-->
        							<!--<a href="#"><i class="fa fa-twitter"></i></a>-->
        							<!--<a href="#"><i class="fa fa-linkedin"></i></a>-->
        						<!--</div>-->
        					<!--</div>-->
        					<!--<div class="team_name">-->
        						<!--<h4>Ethel Davis</h4>-->
        						<!--<p>Managing Director (Sales)</p>-->
        					<!--</div>-->
        				<!--</div>-->
        			<!--</div>-->
        			<!--<div class="col-lg-3 col-sm-6">-->
        				<!--<div class="team_item">-->
        					<!--<div class="team_img">-->
        						<!--<img class="rounded-circle" src="img/team/team-3.jpg" alt="">-->
        						<!--<div class="hover">-->
        							<!--<a href="#"><i class="fa fa-facebook"></i></a>-->
        							<!--<a href="#"><i class="fa fa-twitter"></i></a>-->
        							<!--<a href="#"><i class="fa fa-linkedin"></i></a>-->
        						<!--</div>-->
        					<!--</div>-->
        					<!--<div class="team_name">-->
        						<!--<h4>Ethel Davis</h4>-->
        						<!--<p>Managing Director (Sales)</p>-->
        					<!--</div>-->
        				<!--</div>-->
        			<!--</div>-->
        			<!--<div class="col-lg-3 col-sm-6">-->
        				<!--<div class="team_item">-->
        					<!--<div class="team_img">-->
        						<!--<img class="rounded-circle" src="img/team/team-4.jpg" alt="">-->
        						<!--<div class="hover">-->
        							<!--<a href="#"><i class="fa fa-facebook"></i></a>-->
        							<!--<a href="#"><i class="fa fa-twitter"></i></a>-->
        							<!--<a href="#"><i class="fa fa-linkedin"></i></a>-->
        						<!--</div>-->
        					<!--</div>-->
        					<!--<div class="team_name">-->
        						<!--<h4>Ethel Davis</h4>-->
        						<!--<p>Managing Director (Sales)</p>-->
        					<!--</div>-->
        				<!--</div>-->
        			<!--</div>-->
        		</div>
        	</div>
        </section>
        <!--================End Team Area =================-->

        <!--================Testimonials Area =================-->
        <section class="testimonials_area p_120">
        	<div class="container">
        		<div class="testi_slider owl-carousel">
        			<div class="item">
        				<div class="testi_item">
							<img src="{% static 'img/testimonials/testi-3.png' %}" alt="">
       						<h4>Fannie Rowe</h4>
       						<ul class="list">
       							<li><a href="#"><i class="fa fa-star"></i></a></li>
       							<li><a href="#"><i class="fa fa-star"></i></a></li>
       							<li><a href="#"><i class="fa fa-star"></i></a></li>
       							<li><a href="#"><i class="fa fa-star"></i></a></li>
       							<li><a href="#"><i class="fa fa-star"></i></a></li>
       						</ul>
       						<p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.</p>
        				</div>
        			</div>
        			<div class="item">
        				<div class="testi_item">
							<img src="{% static 'img/testimonials/testi-3.png' %}" alt="">
       						<h4>Fannie Rowe</h4>
       						<ul class="list">
       							<li><a href="#"><i class="fa fa-star"></i></a></li>
       							<li><a href="#"><i class="fa fa-star"></i></a></li>
       							<li><a href="#"><i class="fa fa-star"></i></a></li>
       							<li><a href="#"><i class="fa fa-star"></i></a></li>
       							<li><a href="#"><i class="fa fa-star"></i></a></li>
       						</ul>
       						<p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.</p>
        				</div>
        			</div>
        			<div class="item">
        				<div class="testi_item">
							<img src="{% static 'img/testimonials/testi-3.png' %}" alt="">
       						<h4>Fannie Rowe</h4>
       						<ul class="list">
       							<li><a href="#"><i class="fa fa-star"></i></a></li>
       							<li><a href="#"><i class="fa fa-star"></i></a></li>
       							<li><a href="#"><i class="fa fa-star"></i></a></li>
       							<li><a href="#"><i class="fa fa-star"></i></a></li>
       							<li><a href="#"><i class="fa fa-star"></i></a></li>
       						</ul>
       						<p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Testimonials Area =================-->

        <!--================Pagkages Area =================-->
        <section class="packages_area p_120">
        	<div class="container">
        		<div class="row packages_inner">
        			<div class="col-lg-4">
        				<div class="packages_text">
        					<h3>Choose <br />Course Packages</h3>
        					<p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station.</p>
        				</div>
        			</div>
        			<div class="col-lg-4">
        				<div class="packages_item">
        					<div class="pack_head">
        						<i class="lnr lnr-graduation-hat"></i>
        						<h3>Premium</h3>
        						<p>For the individuals</p>
        					</div>
        					<div class="pack_body">
        						<ul class="list">
        							<li><a href="#">Secure Online Transfer</a></li>
        							<li><a href="#">Unlimited Styles for interface</a></li>
        							<li><a href="#">Reliable Customer Service</a></li>
        						</ul>
        					</div>
        					<div class="pack_footer">
        						<h4>£399.00</h4>
        						<a class="main_btn" href="#">Join Now</a>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4">
        				<div class="packages_item">
        					<div class="pack_head">
        						<i class="lnr lnr-diamond"></i>
        						<h3>Exclusive</h3>
        						<p>For the individuals</p>
        					</div>
        					<div class="pack_body">
        						<ul class="list">
        							<li><a href="#">Secure Online Transfer</a></li>
        							<li><a href="#">Unlimited Styles for interface</a></li>
        							<li><a href="#">Reliable Customer Service</a></li>
        						</ul>
        					</div>
        					<div class="pack_footer">
        						<h4>£399.00</h4>
        						<a class="main_btn" href="#">Join Now</a>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Pagkages Area =================-->

        <!--================Latest Blog Area =================-->
        <section class="latest_blog_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Latest Posts From Blog</h2>
        			<p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station.</p>
        		</div>
        		<div class="row latest_blog_inner">
        			<div class="col-lg-3 col-md-6">
        				<div class="l_blog_item">
        					<img class="img-fluid" src="{% static 'img/latest-blog/l-blog-1.jpg' %}" alt="">
        					<a class="date" href="#">25 October, 2018  |  By Mark Wiens</a>
        					<a href="single-blog.html"><h4>Addiction When Gambling Becomes A Problem</h4></a>
        					<p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops, while delivery</p>
        				</div>
        			</div>
        			<div class="col-lg-3 col-md-6">
        				<div class="l_blog_item">
        					<img class="img-fluid" src="{% static 'img/latest-blog/l-blog-2.jpg' %}" alt="">
        					<a class="date" href="#">25 October, 2018  |  By Mark Wiens</a>
        					<a href="single-blog.html"><h4>Addiction When Gambling Becomes A Problem</h4></a>
        					<p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops, while delivery</p>
        				</div>
        			</div>
        			<div class="col-lg-3 col-md-6">
        				<div class="l_blog_item">
        					<img class="img-fluid" src="{% static 'img/latest-blog/l-blog-3.jpg' %}" alt="">
        					<a class="date" href="#">25 October, 2018  |  By Mark Wiens</a>
        					<a href="single-blog.html"><h4>Addiction When Gambling Becomes A Problem</h4></a>
        					<p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops, while delivery</p>
        				</div>
        			</div>
        			<div class="col-lg-3 col-md-6">
        				<div class="l_blog_item">
        					<img class="img-fluid" src="{% static 'img/latest-blog/l-blog-4.jpg' %}" alt="">
        					<a class="date" href="#">25 October, 2018  |  By Mark Wiens</a>
        					<a href="single-blog.html"><h4>Addiction When Gambling Becomes A Problem</h4></a>
        					<p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops, while delivery</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Latest Blog Area =================-->

        <!--================Impress Area =================-->
        <section class="impress_area p_120">
        	<div class="container">
        		<div class="impress_inner text-center">
					<h2>Become an instructor</h2>
					<p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station whether that is on the deck</p>
					<a class="main_btn2" href="#">Apply for the post</a>
        		</div>
        	</div>
        </section>
        <!--================End Impress Area =================-->
{% endblock %}
